.group{
  display: flex;
}
.introduction{
  height:600px
}
.name{
  font-weight: 800;
  margin-left: 10%;
  margin-right: 53%;
}
.groupTopbar{
  margin-top: 3%;
  display:flex;

}
.categories{
  background: none;
  margin-top: 5px;
}
.cart{
  height: 40px;
  width: 40px;
  margin-left: 3%
}
.loginButton{
  margin-left: 3%;
  width:8%;
  height:40px;
  border: none;
  background-color: white;
}
.dropDown{
  margin-left: 3%;
  max-width: 50px;
  max-height: 50px;
}
.backgroundGradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #b6f2c6 0%, white 40%);
  z-index:-3
}
.background{
  position: absolute;

  width:50%;
  height: auto;
  right:0;
  top:0;
  z-index: -2
}



.searchGroup{
  margin-top: 5%;
  margin-left: 10%;
  height: 50px;
}
.searchInput{
  font-weight: 900;
  text-indent:40px;
  height: 50px;
  width: 40%;
  border: none;
  box-shadow: 0 0 30px #ccc;
}
.searchLine{
  -webkit-user-drag: none;
  position:relative;
  left:6px;
  width:10px;
  height: 52px;
  margin-bottom: 5px;

}
.searchIcon{
  position: relative;
  right:3%;
  -webkit-user-drag: none;
  cursor: pointer;
}
.pinkCircle{
  margin-right: 2%;
}

.groupVideo{
  margin-left: 11%;
  margin-top: 3%
}

.watchVideo{
  font-weight: 800;
  display: inline;
  color: grey;
}

.bagContainer{
  text-align: center;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.bags{
  display:flex;
  justify-content: space-between;
}

.bagName{
  max-width: 100%;
}

.bag{
  position: relative;
 max-width: 30%;
  box-shadow: 0 0 30px #ccc;
  margin-top: 2%;
  margin-bottom: 5%;
  transition: 0.2s;
}
.bag:hover{
  transform: scale(1.1);
  box-shadow: 0 0 40px #ccc;
  transition: 0.2s;
}
.normalBag{
  padding: 20px;
}
.normalGlasses{
  padding: 20px;
}
.price{
  margin-left: 20%;
  font-weight: 700;
}
.heart{
 margin-left: 20%;
  max-height: 20px;
  max-width: 20px;
}

.products{
  padding-top: 20px;
  margin-top:10%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  box-shadow: 0 0 30px #ccc;;
}

.groupHeartPrice{
  transition: 0.2s;
  position:absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  width: 80%;
}
.bagImage{
  transition: 0.2s;
   width: 80%;
   height: auto;
   margin-bottom: 15%;
 }
.sunglassesImage{
  width: 80%;
  transition: 0.2s;
  height: auto;
  margin-bottom: 15%;
}
.sunglassesContainer{
  text-align: center;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.sunglasses{
  display:flex;
  justify-content: space-between;
}

.sunglassName{
  max-width: 100%;
}

.sunglass{
  position: relative;
  max-width: 30%;
  box-shadow: 0 0 30px #ccc;
  margin-top: 2%;
  margin-bottom: 5%;
  transition: 0.2s;
}
.sunglass:hover{
  transform: scale(1.1);
  box-shadow: 0 0 40px #ccc;
  transition: 0.2s;
}
.groupViewAll{
  display: flex;
  justify-content: center;
}
.pinkArrow{
  margin-top: 7px;
  margin-left: 5px;
  max-width: 20px;
  max-height: 10px;
}
.viewAll{
  color: deeppink;
  text-align: center;
}

.promisesContainer{
  padding: 2% 10%;
  margin-top: 5%;
  text-align: center;
  background-color: #f0f0f0;
}
.promises{
  margin-top: 5%;
  display:flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.title{
  margin-top: 7%;
  margin-bottom: 7%;
}
.promise{
  max-width: 25%;
  position: relative;
  padding: 2% 3%;
  transition: 0.5s;
}
.promise:hover{
  background-color: #ffffff;
  transition: 0.5s;
  box-shadow: 0 0 50px #ccc;
  border-bottom: deeppink solid 3px;
}
.desc{
  font-size: 13px;
  margin-bottom: 30%;
}

.knowMore{
  color: deeppink;
  text-align: center;
}

.groupKnowMore{
  position:absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  width: 75%;
}

.brandsContainer{
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.blueLine{
  margin-bottom: 5%;
}
.brands{
  display:flex;
  justify-content: space-between;
}

.brandsContainerTitle{
  font-weight: 700;
}

.brand{
  max-width: 25%;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 3%;
}
.brandImage{
  filter: brightness(10%);
  transform: scale(1);
  transition: 0.4s;
}
.brandImage:hover{
  filter : brightness(100%);
  transition: 0.4s;
  transform: scale(1.2);
}

.groupEnding{
  max-width: 90%;
  margin: 5%;
  display:flex;
  justify-content: space-between;
}
.horLine{
  border-top: 3px solid rgba(0, 0, 0, 0.08);
}

.mailGroup{
  margin-top: 5%;
  height: 50px;
}
input::placeholder{
  color: #ccc;
}
.mailInput{
  font-weight: 700;
  text-indent:40px;
  height: 50px;
  width: 80%;
  border: none;
  box-shadow: 0 0 30px #ccc;
}
.registerNow{
  margin-top: 5%;
  color: #aaa
}
.appImg{
  margin-top: 5%;
  margin-right: 3%;
  width: 100px;
}
.groupApp{
  display: flex;
}
.follows{
  color: #aaa
}
.copyright{
  text-align: center;
  color: #aaa
}
.followImage{
  width:40px;
  margin-right: 10%;
  margin-bottom: 10%;
}
.groupBuy{
  position:absolute;
  bottom: 0;
  transition: 0.5s;
  display: none;
  width: 100%;
}
.add{
  border: solid 1px #ddd;
  background-color: white;
  width: 100%;
  height: 60px;
}
.buy{
  border: solid 0px;
  background-color: deeppink;
  color: white;
  font-weight: 600;
  width: 100%;
  height: 60px;
}