.group{
  display: flex;
}
.introduction{
  height:600px
}
.name{
  font-weight: 800;
  margin-left: 5%;
  margin-right: 53%;
}
.groupTopbar{
  margin-top: 3%;
  display:flex;

}
.categories{
  background: none;
  margin-top: 5px;
}
.cart{
  height: 40px;
  width: 40px;
  margin-left: 3%
}
.loginButton{
  margin-left: 3%;
  width:8%;
  height:40px;
  border: none;
  background-color: white;
}
.dropDown{
  margin-left: 3%;
  max-width: 50px;
  max-height: 50px;
}
.backgroundGradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background-image: linear-gradient(to right bottom, #b6f2c6 0%, white 30%);
  z-index:-3
}
.background{
  position: absolute;
  max-width: 70%;
  right:0;
  top:0;
  z-index: -2
}
.shop{
  position:absolute;
  right:12%;
  top:17%;
  width: 30%;
  height: auto;
  z-index: -1;
}


.searchGroup{
  margin-top: 5%;
  margin-left: 5%;
  height: 50px;
}
.searchInput{
  font-weight: 900;
  text-indent:40px;
  height: 50px;
  width: 50%;
  border: none;
  box-shadow: 0 0 30px #ccc;
}
.searchLine{
  -webkit-user-drag: none;
  position:relative;
  left:6px;
  width:10px;
  height: 52px;
  margin-bottom: 5px;

}
.searchIcon{
  position: relative;
  right:3%;
  -webkit-user-drag: none;
  cursor: pointer;
}
.groupVideo{
  margin-left: 6%;
  margin-top: 3%
}
.play{
  position: relative;
  right: 2%;
}
.watchVideo{
  font-weight: 800;
  display: inline;
  color: grey;
}

.bagContainer{
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.bags{
  display:flex;
  justify-content: space-between;
}

.bagName{
  max-width: 100%;
}

.bag{
 max-width: 30%;
  box-shadow: 0 0 30px #ccc;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 20px;
}
.bag:hover{
  transform: scale(1.1);
  box-shadow: 0 0 40px #ccc;
  transition: 1s;
}
.price{
  margin-left: 20%;
  font-weight: 700;
}
.heart{
 margin-left: 20%;
  max-height: 20px;
  max-width: 20px;
}

.products{
  padding-top: 20px;
  margin: auto;
  max-width: 80%;
  box-shadow: 0 0 30px #ccc;;
}

.groupHeartPrice{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.sunglassesContainer{
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.sunglasses{
  display:flex;
  justify-content: space-between;
}

.sunglassName{
  max-width: 100%;
}

.sunglass{
  max-width: 30%;
  box-shadow: 0 0 30px #ccc;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 20px;
}
.sunglass:hover{
  transform: scale(1.1);
  box-shadow: 0 0 40px #ccc;
  transition: 1s;
}